
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}



.main{
    text-align: center;
    margin-top: 100px;
    padding: 0 50px
}

.note{
    border: 1px solid #c6c6c6;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
    width: 50%;
    margin: 10px auto;
}

.notecontent{
    font-size: medium;
}

.timeinfo{
    color: steelblue; 
    display:inline-block; 
    border-radius: 50px; 
    padding:0 5px;  
    border: 1px solid #c6c6c6;
}

#title{
    width: 40%;
    padding: 10px15px;
    margin-bottom: 10px;
}

#content{
    width: 40%;
    padding: 10px 20px;
    margin-bottom: 10px;
}

button{
    padding: 5px 10px;
    background-color: steelblue;
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    outline: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    position: relative;
    overflow: hidden;


}
