{% extends "base.html" %}
{% load static %}
{% block content %}

<main >
    <div class='header'>
        <h1>Notes</h1>
        <a href="{% url "newnotes" %}">Add Note</a>
    </div>
    {% if notes %} 
        {% for note in notes %} 
        <div class='note' >
            <h1>{{note.title}}</h1>  
            <p class='notecontent'>{{note.content}}</p>
            <p class="timeinfo">{{note.created}} </p>
            <br>
            <a href="{% url 'edit' note.id %}">Details</a>
        </div>
        {% endfor %} 
    {% else %}
        <p>No Notes to display</p>
    {% endif %} 
</main>
{%endblock content %}
